%header#header{:role => "banner"}
  -if @clientLogo
    %a{:href => "/index.html", :class => "logo"}
      %img{:src => "#{@clientLogo}", :alt => "#{@clientName}"}

  -if @sections
    - @host = "#{request.protocol}#{request.host_with_port}"
    - @url = "#{request.url}"
    - @url[@host] = ''
    %nav#block-system-main-menu.block.block-system.block-menu
      %b.dropdown-toggle Menu
      %ul.menu
        - @sections.each_with_index do |url, i|
          %li
            %a{:href => "#{url[1]}", :class => ('active' if @url == "#{url[1]}")}
              #{url[0]}